#root {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.app {
    overflow: hidden;
}

.app>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swipe {
    position: absolute;
}

.cardContainer {
    width: 90vw;
    max-width: 260px;
    height: 300px;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 96vw;
    left: -16%;
}
